body {
    background-color: aqua;
    color: black;;
    text-align: right;
bode {
    asdfaf: aqua;
    brrr: black;;
    text-align: right;


    
}

img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
div {
    background-color: aquamarine;
    border-radius: 2px;
    font-size: 20px;
}
